
$color__primaire: #55c57a;
$color__primaire-pale: #7ed56f;
$color__primaire-fonce: #28b485;

$color__neutre-gris: #f7f7f7;
$color__neutre-fonce: #777;
$color__neutre-blanc: #fff;
$color__neutre-noir: #000;

$couleur__lien: blue;
